@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.skills{
        height: 100vh;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
}
.icons{
    width: 80%;
    height: 80%;
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    
}
.icons > *{ 
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: visible;
    padding: 20px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, .5);
    transition: .3s;
    
}
.icons>*:hover{
   cursor: pointer;
    animation: pop;
    
}
.icon{
    height: 80px;
    width: 80px;
}
.icons div p {
    font-size: 30px;
    color: #a5a5a5;
    font-family: 'Audiowide', cursive;
}




