
.about {
    height: 100vh;
    color: #000000;
    background-color: #ffffff;
    
}

.about-container {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}
.about-container >*{
    /* border: 1px solid; */
    width: 50%;
    height: 70%;
}
.about-left{

    display: flex;
    justify-content: end;
    align-items: center;
    text-align: start;
    border-right: 5px solid #5850f5;
}
.about-text{
    /* border: 1px solid; */
    width: 700px;
    height: 500px;
    padding-left: 50px;
    padding-right: 20px;
}
.about-text p {
    font-size: 25px;
}


.hide{
    opacity: 0;
    bottom:  0;
}

.show {
    opacity: 1;
}

