@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.App {
  text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.floater{
  position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: rgba(255, 255, 255, .4);
    color: rgb(2, 21, 40);
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.floater2{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 120px;
  right: 40px;
  background-color: rgba(255, 255, 255, .4);
  color: rgb(2, 21, 40);
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.change:hover{
  background: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
