@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 90px;
        width: 100%;
        background-color: #ffffff;
        color: black;
}

.logo {
    text-align: center;
    width: 20%;
    color: rgb(0, 0, 0);
}



.logo h3 {
    margin-top: -30px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 700px;
    margin-right: 60px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    cursor: pointer;
    color: #5850f5;
}

span{
    color: #5850f5;
}
button{
    height: 40px;
}

main{
    position: absolute;
}