@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Share Tech Mono', monospace;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 90px;
        width: 100%;
        background-color: #0D1117;
}

.logo {
    text-align: center;
    width: 20%;
    color: white;
}



.logo h3 {
    margin-top: -30px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 50%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    cursor: pointer;
    color: #22f1bf;
}

span{
    color: #7371ff;
}
button{
    height: 40px;
}

main{
    position: absolute;
}